::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(12, 11, 14);
  border-radius: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #cfcfcf;
  background-color: #000;
  overflow-x: hidden;
}

.bg {
  width: 100%;
  height: 100%;
  background: radial-gradient(36.85% 77.85% at 97.7% 65.72%, rgba(120, 71, 182, 0.11) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(117.28% 24.93% at 92.15% 43.64%, rgba(89, 34, 178, 0.18) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(57.4% 50.38% at 0% 80.96%, rgba(42, 0, 209, 0.15) 0%, rgba(44, 8, 73, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), radial-gradient(33.19% 26.29% at 97.62% 10.36%, rgba(19, 0, 238, 0.2) 0%, rgba(29, 12, 80, 0.08) 100%), radial-gradient(58.87% 49.96% at 3.2% 22.9%, rgba(100, 13, 168, 0.23) 0%, rgba(21, 8, 49, 0.09) 100%);
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
}

.transition {
  transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.show-nav {
  height: 28rem;
  transform: translateY(0.5rem);
  transition: height 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.105), padding 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.105), transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.105);
}

.hide-nav {
  height: 0;
  padding: 0;
  transform: translateY(-0.5rem);
  transition: height 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.105), padding 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.105), transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.105);
}

.hide {
  display: none;
}

.white-text {
  font-weight: 700;
  color: #cfcfcf;
}

.fireworks {
  height: 100%;
  width: 100%;
}
.fireworks img {
  position: absolute;
  top: 0.7rem;
  width: 30%;
  max-width: 12rem;
}

nav {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;
}
nav .info-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  overflow: hidden;
}
nav .info-nav i {
  font-size: 2rem;
}
nav .info-nav .info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  padding: 0 1.6rem;
}
nav .info-nav .info-container .social {
  display: flex;
  align-items: center;
}
nav .info-nav .info-container a {
  font-size: 1rem;
  font-weight: bold;
  color: #A7A7A7;
  padding: 0 0.5rem;
  text-decoration: none;
  transition: color 0.3s;
}
nav .info-nav .info-container a:hover {
  color: #4e23fb;
}
nav .main-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 6.2rem;
  margin-top: 3.5rem;
  background-color: transparent;
}
nav .main-nav .burger-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  padding-right: 0;
}
nav .main-nav .burger-box .logo {
  display: flex;
  padding-left: 0;
}
nav .main-nav .burger-box .logo img {
  width: 70%;
}
nav .main-nav .burger-box .burger-icon {
  padding: 0 2rem;
  font-size: 4rem;
  cursor: pointer;
  transition: color 0.3s;
}
nav .main-nav .burger-box .burger-icon .fa-xmark {
  font-size: 4.65rem;
}
nav .main-nav .burger-box .burger-icon:hover {
  color: #4e23fb;
}
nav .main-nav .nav-items {
  background-color: #000;
}
nav .main-nav .nav-items .links {
  padding: 0 2rem;
  overflow: hidden;
}
nav .main-nav .nav-items .links .active {
  color: #cfcfcf;
}
nav .main-nav .nav-items .links a {
  display: block;
  color: #A7A7A7;
  font-size: 1.8rem;
  font-weight: 800;
  padding: 1.2rem 0;
  text-decoration: none;
  overflow: hidden;
  transition: color 0.3s;
}
nav .main-nav .nav-items .links a:hover {
  color: #cfcfcf;
}

.video-container {
  position: relative;
  margin-top: 14rem;
  display: flex;
  width: 100vw;
  max-height: 82vh;
}
.video-container .loader {
  position: absolute;
  height: 5rem;
  width: 5rem;
  left: 43%;
  top: 34%;
  transform: translate(-50%, -50%);
}
.video-container video {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.title-container {
  padding: 2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title-container .gradient {
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: 800;
}
.title-container h1 {
  font-size: 3.5rem;
  background-image: linear-gradient(270deg, rgba(81, 77, 86, 0.9098039216) -2.61%, #d8d0df 106.98%);
}
.title-container h2 {
  font-size: 2.8rem;
  background-image: linear-gradient(90deg, rgba(75, 142, 221, 0.85) 0%, rgba(141, 107, 236, 0.742) 100%);
}
.title-container .day {
  padding-top: 1rem;
  background-image: linear-gradient(270deg, rgba(81, 77, 86, 0.9098039216) -2.61%, #d8d0df 106.98%);
  font-size: 2.4rem;
}
.title-container .day span {
  padding-left: 0.5rem;
}
.title-container .enter-container {
  padding: 1rem;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title-container .enter-container .enter-text {
  padding-bottom: 4rem;
}
.title-container .enter-container .enter-text p {
  text-align: left;
  padding-top: 1rem;
  color: #A7A7A7;
  font-size: 1.7rem;
}
.title-container .enter-container .enter-text p a {
  font-weight: bold;
  color: #cfcfcf;
  transition: color 0.3s;
  cursor: pointer;
}
.title-container .enter-container .enter-text p a:hover {
  color: #4e23fb;
}
.title-container .enter-container .enter-text .contact-phone {
  cursor: pointer;
  transition: color 0.3s;
}
.title-container .enter-container .enter-text .contact-phone:hover {
  color: #4e23fb;
}
.title-container .enter-container .bulletin-board-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.title-container .enter-container .bulletin-board-container .board-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Caveat", cursive;
  max-width: 43rem;
  min-height: 35rem;
  padding: 2rem;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  background: radial-gradient(40.51% 95.01% at 81.57% 24.39%, rgba(91, 85, 85, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(39.28% 90.99% at 15.09% 51.84%, rgba(91, 85, 85, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #361692;
  box-shadow: 0px 0px 20px 0px rgba(95, 83, 83, 0.1), 0px 3px 20px 0px rgba(0, 0, 0, 0.25);
}
.title-container .enter-container .bulletin-board-container .board-box h2 {
  padding-top: 1rem;
  background-image: none;
  font-size: 3.1rem;
  color: #cfcfcf;
  padding-bottom: 0.5rem;
}
.title-container .enter-container .bulletin-board-container .board-box .line {
  width: 60%;
  height: 0.1rem;
  background-color: #cfcfcf;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}
.title-container .enter-container .bulletin-board-container .board-box p {
  padding-top: 1.5rem;
  font-size: 2.2rem;
  color: #A7A7A7;
}

.gradient-bg {
  width: 100%;
  padding: 2rem;
  background: linear-gradient(90deg, rgba(75, 142, 221, 0.85) 0%, rgba(141, 107, 236, 0.742) 100%);
}
.gradient-bg .offer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}
.gradient-bg .offer-container .offer-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 32rem;
  width: 100%;
  padding: 4rem 2rem;
  text-decoration: none;
  border-radius: 1.5rem;
  background: rgba(217, 217, 217, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(33, 33, 103, 0.81);
  cursor: pointer;
}
.gradient-bg .offer-container .offer-box .cursor-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 50%;
  top: 5%;
  transform: translateX(50%);
}
.gradient-bg .offer-container .offer-box .cursor-icon i {
  font-size: 2rem;
  color: #A7A7A7;
}
.gradient-bg .offer-container .offer-box .cursor-icon p {
  color: #A7A7A7;
  font-size: 1rem;
  padding-left: 1rem;
}
.gradient-bg .offer-container .offer-box i {
  font-size: 13rem;
  color: #cfcfcf;
  transition: color 0.3s;
}
.gradient-bg .offer-container .offer-box h3 {
  padding-top: 1rem;
  font-size: 3rem;
  color: #cfcfcf;
}
.gradient-bg .offer-container .offer-box p {
  color: #A7A7A7;
  font-size: 1.7rem;
  text-align: center;
}
.gradient-bg .offer-container .offer-box:hover > i {
  color: #4e23fb;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}
.price-container h2 {
  font-size: 5rem;
  text-transform: uppercase;
  background: linear-gradient(270deg, rgba(81, 77, 86, 0.9098039216) -2.61%, #d8d0df 106.98%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-align: center;
  letter-spacing: 0.5rem;
}
.price-container .line {
  height: 0.1rem;
  background-color: #cfcfcf;
  width: 30%;
}
.price-container .price-content {
  padding: 3rem;
  padding-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.price-container .price-content .price-box {
  padding-top: 2rem;
}
.price-container .price-content .price-box h3 {
  text-align: center;
  font-size: 2.6rem;
  padding: 1rem;
  background: linear-gradient(90deg, rgba(75, 142, 221, 0.85) 0%, rgba(141, 107, 236, 0.742) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.price-container .price-content .price-box .gradient {
  background: linear-gradient(270deg, rgba(81, 77, 86, 0.9098039216) -2.61%, #d8d0df 106.98%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 800;
}
.price-container .price-content .price-box p {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 800;
}
.price-container .price-content .price-box table {
  border-collapse: collapse;
  width: 100%;
}
.price-container .price-content .price-box td,
.price-container .price-content .price-box th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 0.8rem;
}
.price-container .price-content .price-box th {
  border-top: none;
}
.price-container .price-content .price-box th:first-child,
.price-container .price-content .price-box td:first-child {
  border-left: none;
}
.price-container .price-content .price-box th:last-child,
.price-container .price-content .price-box td:last-child {
  border-right: none;
}
.price-container .price-content .price-box td {
  border-bottom: none;
}
.price-container .price-content .price-box tr:nth-child(even) {
  background-color: #131212;
}
.price-container .price-content .price-box .price-text {
  padding-top: 3rem;
}
.price-container .price-content .price-box .price-text p {
  padding-top: 1rem;
  color: #A7A7A7;
  font-weight: normal;
  text-align: left;
}

.cooperation-container {
  width: 100%;
  padding-top: 6rem;
}
.cooperation-container img {
  width: 100%;
  height: 100%;
}
.cooperation-container .box-img {
  padding-bottom: 0.3rem;
  display: flex;
  flex-direction: row;
}
.cooperation-container .box-img a {
  max-width: 50%;
}

.map-container {
  width: 100%;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
.map-container iframe {
  width: 90%;
  border-radius: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding: 2rem;
  padding-bottom: 3rem;
  background-color: #000;
}
footer .footer-box {
  width: 80%;
  padding-top: 3rem;
}
footer .footer-box h2 {
  font-size: 2rem;
}
footer .footer-box p {
  font-size: 1.5rem;
}
footer .footer-box a {
  color: #cfcfcf;
  transition: color 0.3s;
  text-decoration: none;
}
footer .footer-box i {
  font-size: 3rem;
}
footer .footer-box a:hover {
  color: #4e23fb;
}

.box-text {
  margin-top: 12rem;
  padding: 1rem;
  width: 90%;
  max-width: 110rem;
}
.box-text .gradient {
  background: linear-gradient(90deg, rgba(75, 142, 221, 0.85) 0%, rgba(141, 107, 236, 0.742) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-align: center;
  font-weight: 800;
}
.box-text h2 {
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
}
.box-text h3 {
  font-size: 2rem;
}
.box-text p {
  font-size: 1.7rem;
  color: #A7A7A7;
}
.box-text .space {
  padding: 2rem 0;
}
.box-text a {
  color: #4e23fb;
}

.galery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galery-container .galery-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.2rem;
  width: 100%;
  margin-top: 13rem;
  overflow: hidden;
}
.galery-container .galery-box .galery-img {
  position: relative;
}
.galery-container .galery-box .galery-img .loader {
  position: absolute;
  left: 25%;
  top: 25%;
  transform: translate(-50%, -50%);
}
.galery-container .galery-box .galery-img img {
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  display: block;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.modal-box {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.9);
}
.modal .modal-img {
  padding: 7rem;
  max-width: 70rem;
}
.modal .modal-img img {
  width: 100%;
  height: 100%;
  max-height: 60rem;
}
.modal i {
  padding: 2rem;
  position: absolute;
  transform: translateY(-50%);
  font-size: 3rem;
  cursor: pointer;
  transition: color 0.3s;
}
.modal i:hover {
  color: #4e23fb;
}
.modal .fa-chevron-left {
  left: 2%;
  top: 50%;
}
.modal .fa-chevron-right {
  right: 2%;
  top: 50%;
}
.modal .fa-download {
  top: 6%;
  right: 6rem;
  font-size: 2rem;
}
.modal .fa-xmark {
  top: 6%;
  right: 1rem;
  font-size: 3rem;
}

@media (min-width: 806px) {
  nav .info-nav .info-container {
    padding: 0 2rem;
  }
  nav .info-nav .info-container .social i {
    line-height: 3.5rem;
  }
  nav .info-nav .info-container a {
    font-size: 1.4rem;
  }
  nav .main-nav {
    height: 7rem;
    background-color: transparent;
  }
  nav .main-nav .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  nav .main-nav .nav-container .burger-box {
    padding-left: 0;
  }
  nav .main-nav .nav-container .burger-box .burger-icon {
    display: none;
  }
  nav .main-nav .nav-container .nav-items {
    padding: 0;
    background-color: transparent;
  }
  nav .main-nav .nav-container .nav-items .links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: auto;
    padding: 0;
    transform: translateY(0.1rem);
  }
  nav .main-nav .nav-container .nav-items .links .active {
    color: #cfcfcf;
  }
  nav .main-nav .nav-container .nav-items .links a {
    font-size: 1.4rem;
    padding-left: 1.2rem;
  }
  .title-container {
    padding: 3rem;
    display: flex;
  }
  .title-container h1 {
    font-size: 7rem;
  }
  .title-container h2 {
    font-size: 5.4rem;
  }
  .title-container .day {
    font-size: 3.4rem;
  }
  .title-container .enter-container {
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
  }
  .title-container .enter-container .enter-text {
    width: 50%;
    padding-bottom: 0rem;
  }
  .title-container .enter-container .enter-text p {
    font-size: 1.7rem;
  }
  .title-container .enter-container .bulletin-board-container {
    width: 50%;
    padding: 0 2rem;
  }
  .title-container .enter-container .bulletin-board-container .board-box {
    max-width: 43rem;
    min-height: 44rem;
  }
  .title-container .enter-container .bulletin-board-container .board-box h2 {
    font-size: 3.8rem;
  }
  .title-container .enter-container .bulletin-board-container .board-box p {
    font-size: 2.8rem;
  }
  .gradient-bg .offer-container {
    flex-direction: row;
  }
  .gradient-bg .offer-container .offer-box {
    transition: border-radius 0.3s, background 0.3s, box-shadow 0.3s, transform 0.3s;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }
  .gradient-bg .offer-container .offer-box .cursor-icon i {
    font-size: 1.4rem;
  }
  .gradient-bg .offer-container .offer-box i {
    font-size: 10rem;
  }
  .gradient-bg .offer-container .offer-box p {
    font-size: 1.5rem;
  }
  .gradient-bg .offer-container .offer-box:hover {
    border-radius: 1.5rem;
    background: rgba(217, 217, 217, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(33, 33, 103, 0.81);
    transform: scale(1.04);
  }
  .price-container h2 {
    font-size: 6rem;
  }
  .price-container .price-content {
    padding: 0rem;
    width: 90%;
    flex-direction: row;
    gap: 8rem;
  }
  .price-container .price-content .price-box {
    width: 50%;
  }
  .price-container .price-content .price-box .price-text {
    padding-top: 3rem;
  }
  .price-container .price-content .price-box .price-text p {
    padding-top: 1rem;
    font-size: 2.1rem;
    color: #A7A7A7;
    font-weight: normal;
    text-align: left;
  }
  .map-container {
    padding-top: 10rem;
  }
  footer {
    max-height: 13rem;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
  }
  footer .footer-box {
    width: auto;
    padding-top: 0;
  }
  footer .footer-box i {
    padding-right: 1rem;
  }
  .box-text {
    min-height: 94rem;
  }
  .box-text h2 {
    font-size: 4rem;
  }
  .box-text h3 {
    font-size: 3rem;
  }
  .box-text p {
    font-size: 2rem;
  }
  .video-container .loader {
    left: 47%;
    top: 43%;
  }
  .galery-container .galery-box {
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 0.5rem;
  }
  .galery-container .galery-box .galery-img {
    height: 25rem;
  }
  .galery-container .galery-box .galery-img .loader {
    position: absolute;
    left: 40%;
    top: 40%;
  }
  .galery-container .galery-box .galery-img img {
    height: 25rem;
  }
  .galery-container .galery-box img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 2rem black;
  }
  .modal .modal-img {
    padding: 8rem;
    max-width: 80rem;
    max-height: 80rem;
  }
  .modal i {
    font-size: 4rem;
  }
  .modal .fa-download {
    right: 9rem;
    font-size: 3rem;
  }
  .modal .fa-xmark {
    right: 2rem;
    font-size: 4rem;
  }
}
@media (min-width: 1020px) {
  .fireworks img {
    position: absolute;
    top: 30%;
    right: 3rem;
    max-width: none;
  }
  nav .main-nav {
    height: 8rem;
  }
  nav .main-nav .nav-container .nav-items .links a {
    font-size: 2rem;
    padding-left: 2rem;
  }
  .title-container .enter-container .enter-text p {
    font-size: 2.2rem;
  }
  .title-container .enter-container .bulletin-board-container {
    width: 50%;
  }
  .gradient-bg .offer-container .offer-box i {
    font-size: 13rem;
    color: #cfcfcf;
    transition: color 0.3s;
  }
  .gradient-bg .offer-container .offer-box p {
    font-size: 1.7rem;
  }
  .modal .modal-img {
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */