@import './colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $t-color;
    background-color: $black-color;
    overflow-x: hidden;
}

.bg {
    width: 100%;
    height: 100%;
    background: $bg-color;
}

.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 120rem;
}

.transition {
    transition: transform .7s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.show-nav {
    height: 28rem;
    transform: translateY(.5rem);
    transition: height .9s cubic-bezier(0.175, 0.885, 0.32, 1.105), padding .9s cubic-bezier(0.175, 0.885, 0.32, 1.105), transform .7s cubic-bezier(0.175, 0.885, 0.32, 1.105);
}


.hide-nav {
    height: 0;
    padding: 0;
    transform: translateY(-.5rem);
    transition: height .7s cubic-bezier(0.175, 0.885, 0.32, 1.105), padding .7s cubic-bezier(0.175, 0.885, 0.32, 1.105), transform .7s cubic-bezier(0.175, 0.885, 0.32, 1.105);
}

.hide {
    display: none;
}

.white-text {
    font-weight: 700;
    color: $t-color;
}

nav {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;

    .info-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.60);
        backdrop-filter: blur(10px);
        overflow: hidden;

        i {
            font-size: 2rem;
        }

        .info-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 3.5rem;
            padding: 0 1.6rem;

            .social {
                display: flex;
                align-items: center;
            }

            a {
                font-size: 1rem;
                font-weight: bold;
                color: $t-2-color;
                padding: 0 .5rem;
                text-decoration: none;
                transition: color .3s;
            }

            a:hover {
                color: $hover-color
            }
        }

    }

    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 6.2rem;
        margin-top: 3.5rem;
        background-color: transparent;


        .burger-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 2rem;
            padding-right: 0;

            .logo {
                display: flex;
                padding-left: 0;

                img {
                    width: 70%;
                }
            }

            .burger-icon {
                padding: 0 2rem;
                font-size: 4rem;
                cursor: pointer;
                transition: color .3s;

                .fa-xmark {
                    font-size: 4.65rem;
                }
            }

            .burger-icon:hover {
                color: $hover-color
            }
        }


        .nav-items {
            background-color: $black-color;


            .links {
                padding: 0 2rem;
                overflow: hidden;

                .active {
                    color: $t-color;
                }

                a {
                    display: block;
                    color: $t-2-color;
                    font-size: 1.8rem;
                    font-weight: 800;
                    padding: 1.2rem 0;
                    text-decoration: none;
                    overflow: hidden;
                    transition: color .3s;
                }

                a:hover {
                    color: $t-color;
                }
            }
        }


    }
}

.video-container {
    position: relative;
    margin-top: 14rem;
    display: flex;
    width: 100vw;
    max-height: 82vh;

    .loader {
        height: 5rem;
        width: 5rem;
        position: absolute;
        left: 47%;
        top: 42%;
        transform: translate(-50%, -50%);
    }

    video {
        width: 100%;
        display: block;
        object-fit: cover;
    }
}

.title-container {
    padding: 2rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;



    .gradient {
        background-clip: text;
        color: transparent;
        font-weight: 800;
    }

    h1 {
        font-size: 3.5rem;
        background-image: $t-gray-gradient;
    }

    h2 {
        font-size: 2.8rem;
        background-image: $color-gradient;
    }

    .day {
        padding-top: 1rem;
        background-image: $t-gray-gradient;
        font-size: 2.4rem;

        span {
            padding-left: 0.5rem;
        }
    }

    .enter-container {
        .enter-text {
            padding: 1rem;

            p {
                text-align: left;
                padding-top: 1rem;
                color: $t-2-color;
                font-size: 1.7rem;

                a {
                    font-weight: bold;
                    color: $t-color;
                    transition: color .3s;
                    cursor: pointer;
                }

                a:hover {
                    color: $hover-color;
                }
            }



            .contact-phone {
                cursor: pointer;
                transition: color .3s;
            }

            .contact-phone:hover {
                color: $hover-color;
            }
        }

        .img-box {
            display: none;
        }
    }


}

.gradient-bg {
    width: 100%;
    padding: 2rem;
    background: $color-gradient;

    .offer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 2rem;

        .offer-box {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 32rem;
            width: 100%;
            padding: 4rem 2rem;
            text-decoration: none;
            border-radius: 1.5rem;
            background: rgba(217, 217, 217, 0.10);
            box-shadow: 0px 5px 20px 0px rgba(33, 33, 103, 0.81);
            cursor: pointer;

            .cursor-icon {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 50%;
                top: 5%;
                transform: translateX(50%);

                i {
                    font-size: 2rem;
                    color: $t-2-color;

                }

                p {
                    color: $t-2-color;
                    font-size: 1rem;
                    padding-left: 1rem;
                }

                ;
            }

            i {
                font-size: 13rem;
                color: $t-color;
                transition: color .3s;
            }

            h3 {
                padding-top: 1rem;
                font-size: 3rem;
                color: $t-color;
            }

            p {
                color: $t-2-color;
                font-size: 1.7rem;
                text-align: center;
            }
        }



        .offer-box:hover>i {
            color: $hover-color;
        }
    }

}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;

    h2 {
        font-size: 5rem;
        text-transform: uppercase;
        background: $t-gray-gradient;
        background-clip: text;
        color: transparent;
        text-align: center;
        letter-spacing: .5rem;
    }

    .line {
        height: .1rem;
        background-color: $t-color;
        width: 30%;

    }

    .price-content {
        padding: 3rem;
        padding-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;


        .price-box {
            padding-top: 2rem;

            h3 {
                text-align: center;
                font-size: 2.6rem;
                padding: 1rem;
                background: $color-gradient;
                background-clip: text;
                color: transparent;
            }

            .gradient {
                background: $t-gray-gradient;
                background-clip: text;
                color: transparent;
                text-align: center;
                font-size: 1.8rem;
                font-weight: 800;
            }

            p {
                font-size: 1.8rem;
                text-align: center;
                font-weight: 800;
            }

            table {
                border-collapse: collapse;
                width: 100%;
            }

            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: .8rem;

            }

            th {
                border-top: none;

            }

            th:first-child,
            td:first-child {
                border-left: none;

            }

            th:last-child,
            td:last-child {
                border-right: none;

            }

            td {
                border-bottom: none;
            }

            tr:nth-child(even) {
                background-color: #131212;
            }

            .price-text {
                padding-top: 3rem;

                p {
                    padding-top: 1rem;

                    color: $t-2-color;
                    font-weight: normal;
                    text-align: left;
                }

            }
        }
    }


}

.cooperation-container {
    width: 100%;
    padding-top: 6rem;

    img {
        width: 100%;
        height: 100%;
    }

    .box-img {
        padding-bottom: .3rem;
        display: flex;
        flex-direction: row;

        a {
            max-width: 50%;

        }
    }
}

.map-container {
    width: 100%;
    padding-top: 5rem;
    display: flex;
    justify-content: center;

    iframe {
        width: 90%;
        border-radius: 1.5rem;
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 2rem;
    padding-bottom: 3rem;
    background-color: $black-color;

    .footer-box {
        width: 80%;
        padding-top: 3rem;

        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;
        }

        a {
            color: $t-color;
            transition: color .3s;
            text-decoration: none;
        }

        i {
            font-size: 3rem;
        }

        a:hover {
            color: $hover-color;
        }
    }
}

.box-text {
    margin-top: 12rem;
    padding: 1rem;
    width: 90%;
    max-width: 110rem;

    .gradient {
        background: $color-gradient;
        background-clip: text;
        color: transparent;
        text-align: center;
        font-weight: 800;
    }

    h2 {
        font-size: 2.5rem;
        text-align: center;
        padding: 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.7rem;
        color: $t-2-color;
    }

    .space {
        padding: 2rem 0;
    }

    a {
        color: $hover-color;
    }
}

.galery-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .galery-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .6rem;
        width: 100%;
        margin-top: 13rem;
        overflow: hidden;

        .galery-img {
            position: relative;
            height: 30rem;

            .loader {
                position: absolute;
                left: 42%;
                top: 45%;
                // transform: translate(-50%, -50%);
            }

            img {
                height: 30rem;
                object-fit: cover;
                width: 100%;
                display: block;
                border-radius: .3rem;
                transition: transform .3s, box-shadow .3s;
                cursor: pointer;
            }
        }

    }

    .expand-btn {
        width: 8rem;
        margin-top: 2rem;
        text-align: center;
        font-size: 5rem;
        cursor: pointer;
        transition: color .3s;
    }

    .expand-btn:hover {
        color: $hover-color;
    }
}

.modal-box {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .9);

    .modal-img {
        padding: 7rem;
        max-width: 70rem;

        img {
            width: 100%;
            height: 100%;
            max-height: 60rem;
        }
    }

    i {
        padding: 2rem;
        position: absolute;
        transform: translateY(-50%);
        font-size: 3rem;
        cursor: pointer;
        transition: color .3s;
    }

    i:hover {
        color: $hover-color;
    }

    .fa-chevron-left {
        left: 2%;
        top: 50%;
    }

    .fa-chevron-right {
        right: 2%;
        top: 50%;
    }

    .fa-download {
        top: 6%;
        right: 6rem;
        font-size: 2rem;
    }

    .fa-xmark {
        top: 6%;
        right: 1rem;
        font-size: 3rem;

    }


}



@media(min-width:800px) {
    nav {
        .info-nav {
            .info-container {
                padding: 0 2rem;

                .social {

                    i {
                        line-height: 3.5rem;

                    }
                }

                a {
                    font-size: 1.4rem;
                }

            }

        }

        .main-nav {
            height: 7rem;
            background-color: transparent;

            .nav-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 2rem;

                .burger-box {
                    padding-left: 0;

                    .burger-icon {
                        display: none;
                    }
                }

                .nav-items {
                    padding: 0;
                    background-color: transparent;

                    .links {
                        display: flex;
                        flex-direction: row;
                        justify-content: end;
                        align-items: center;
                        height: auto;
                        padding: 0;
                        transform: translateY(.1rem);

                        .active {
                            color: $t-color;
                        }

                        a {
                            font-size: 1.4rem;
                            padding-left: 1.2rem;
                        }
                    }
                }

            }

        }
    }

    .title-container {
        padding: 3rem;
        display: flex;

        h1 {
            font-size: 7rem;
        }

        h2 {
            font-size: 5.4rem;
        }

        .day {
            font-size: 3.4rem;

        }

        .enter-container {
            display: flex;

            .enter-text {
                width: 50%;

                p {
                    font-size: 2.2rem;
                }

            }

            .img-box {
                display: flex;
                align-items: center;
                width: 50%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .gradient-bg {

        .offer-container {
            flex-direction: row;

            .offer-box {
                transition: border-radius .3s, background .3s, box-shadow .3s, transform .3s;
                border-radius: 0;
                background: transparent;
                box-shadow: none;

                .cursor-icon {

                    i {
                        font-size: 1.4rem;
                    }
                }

                i {
                    font-size: 10rem;
                }
            }

            .offer-box:hover {
                border-radius: 1.5rem;
                background: rgba(217, 217, 217, 0.10);
                box-shadow: 0px 15px 20px 0px rgba(33, 33, 103, 0.81);
                transform: scale(1.04);
            }


        }

    }

    .price-container {

        h2 {
            font-size: 6rem;
        }

        .price-content {
            padding: 0rem;
            width: 90%;
            flex-direction: row;
            gap: 8rem;


            .price-box {
                width: 50%;

                .price-text {
                    padding-top: 3rem;

                    p {
                        padding-top: 1rem;
                        font-size: 2.1rem;
                        color: $t-2-color;
                        font-weight: normal;
                        text-align: left;
                    }

                }
            }
        }


    }

    .map-container {
        padding-top: 10rem;
    }

    footer {
        max-height: 13rem;
        flex-direction: row;
        justify-content: center;
        gap: 8rem;

        .footer-box {
            width: auto;
            padding-top: 0;

            i {
                padding-right: 1rem;
            }
        }


    }

    .box-text {

        h2 {
            font-size: 4rem;
        }

        h3 {
            font-size: 3rem;
        }

        p {
            font-size: 2rem;
        }
    }

    .galery-container {
        .galery-box {

            padding: 2rem;
            grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));

            img:hover {
                transform: scale(1.03);
                box-shadow: 0 0 2rem black;
            }
        }
    }

    .modal {

        .modal-img {
            padding: 8rem;
            max-width: 80rem;
            max-height: 80rem;
        }

        i {
            font-size: 4rem;
        }

        .fa-download {
            right: 9rem;
            font-size: 3rem;
        }

        .fa-xmark {
            right: 2rem;
            font-size: 4rem;

        }


    }
}

@media(min-width:1020px) {

    nav {

        .main-nav {
            height: 8rem;

            .nav-container {

                .nav-items {

                    .links {

                        a {
                            font-size: 2rem;
                            padding-left: 2rem;
                        }
                    }
                }

            }

        }
    }

    .gradient-bg {

        .offer-container {

            .offer-box {


                i {
                    font-size: 13rem;
                    color: $t-color;
                    transition: color .3s;
                }

            }


        }

    }

    .modal {

        .modal-img {
            padding: 0;
        }



    }
}